{% extends 'base.html' %}

{% block meta %}
     <title>{{ name }} - Education</title>
{% endblock meta %}

{% block content %}
    <section aria-labelledby="education">
        <h2 id="education">Education</h2>
        <div class="search-bar">
            <input type="text" id="search-input" value="{{ title_query }}" placeholder="Search education..." class="search-input">
            {% if user.is_superuser %}
            <button popovertarget="add-modal">Add Education</button>
            {% endif %}
        </div>

        <ul id="grid"
            data-api-url="{% url 'main:api_education' %}"
            data-create-url="{% url 'main:create_education' %}"
            data-csrf="{{ csrf_token }}"
            data-is-superuser="{{ user.is_superuser|yesno:'true,false' }}"
            data-is-editor="{{ is_editor|yesno:'true,false' }}"
        >
        </ul>

        <template id="card-template">
            <li>
                <h3>[[ program ]], [[ field ]]</h3>
                <span>[[ institution ]]</span>

                {% if is_superuser or is_editor %}
                    <a href="[[ createUrl ]]?id=[[ pk ]]"><button>Edit</button></a>
                {% endif %}
                {% if is_superuser %}
                    <form class="delete-form inline-form" method="post" action="/education/delete/?id=[[ pk ]]">
                        <input type="hidden" name="csrfmiddlewaretoken" value="[[ csrf ]]">
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}

                <br>
                <time datetime="[[ started_at ]]">[[ started_at ]]</time>
            </li>
        </template>

        {% if user.is_superuser %}
            {% include 'layouts/form_modal.html' with action_url='main:api_education' %}
        {% endif %}

        <script src="/static/js/fetch_list.js"></script>
        <script src="/static/js/list.js"></script>
    </section>
{% endblock content %}
