{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Everything about {{ name }}">
        <meta name="author" content="{{ name }}">

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ name }}'s Portofolio">

        <!-- <title>{{ name }}</title> -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
            rel="stylesheet"
        >

        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/manif.css' %}">

        {% block meta %}{% endblock meta %}
    </head>

    <body>
        <!-- cgol backgrond -->
        <canvas id="life" aria-hidden="true"></canvas>

        <main>
            <header>
                <h1>{{ name }}</h1>
                
                <nav aria-label="Main navigation">
                    <p>{{ npm }} • {{ study_program_kd }} • {{ role }}</p>

                    <a class="{% if request.resolver_match.url_name == 'show_main' %}nav_selected{% endif %}"
                        href="{% url 'main:show_main' %}">[About]
                    </a>

                    <a class="{% if request.resolver_match.url_name == 'show_experience' %}nav_selected{% endif %}"
                        href="{% url 'main:show_experience' %}">[Experience]
                    </a>

                    <a class="{% if request.resolver_match.url_name == 'show_education' %}nav_selected{% endif %}"
                        href="{% url 'main:show_education' %}">[Education]
                    </a>

                    <a class="{% if request.resolver_match.url_name == 'show_projects' %}nav_selected{% endif %}"
                        href="{% url 'main:show_projects' %}">[Projects]
                    </a>
                </nav>
            </header>

            {% block content %}{% endblock content %}

            <p class="dinkus" aria-hidden="true">* * *</p>
            
            <footer>
                <p>&copy; 2026 {{ name }}. Faculty of Computer Science, Universitas Indonesia.</p>
            </footer>
        </main>

        <script src="/static/js/life.js"></script>
    </body>
</html>
