{% extends "base.html" %}

{% block meta %}
    <title>{{ name }} - {{ title }}</title>
{% endblock meta %}

{% block content %}
    <section>
        <h2>{{ title }}</h2>

        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <p>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {{ field }}

                    {% for error in field.errors %}
                        <br>
                        <strong>{{ error }}</strong>
                    {% endfor %}
                </p>
            {% endfor %}

            <button type="submit">Save</button>
            <a href="/">Nevermind</a>
        </form>
    </section>
{% endblock content %}
