{% extends 'base.html' %}

{% block meta %}
     <title>{{ name }} - Education</title>
{% endblock meta %}

{% block content %}
    <section aria-labelledby="education">
        <h2 id="education">Education</h2>

        {% if education_list %}
            <ul>
                {% for education in education_list %}
                    <li>
                        <h3>{{ education.program }}, {{ education.field }}</h3>
                        <span>{{ education.institution }}</span>

                        <br>

                        {% if education.started_at %}
                            <time datetime="{{ education.started_at|date:'c' }}">
                                {{ education.started_at|date:"F Y" }}
                            </time>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Belum ada pendidikan yang ditambahkan.</p>
        {% endif %}
    </section>
{% endblock content %}
