{% extends 'base.html' %}

{% block meta %}
     <title>{{ name }} - Experience</title>
{% endblock meta %}

{% block content %}
    <section aria-labelledby="experience">
        <h2 id="experience">Experience</h2>

        {% if experience_list %}
            <ul>
                {% for experience in experience_list %}
                    <li>
                        <!-- {% if experience.thumbnail %} -->
                        <!--     <img src="{{ experience.thumbnail }}" alt="{{ experience.title }}"> -->
                        <!-- {% endif %} -->

                        <h3>{{ experience.title }} • {{ experience.get_category_display }}</h3>

                        {% if experience.started_at %}
                            <time datetime="{{ experience.started_at|date:'c' }}">
                                {{ experience.started_at|date:"F Y" }}
                            </time>
                        {% endif %}

                        {% if experience.ended_at %}
                            <span> - </span>
                            <time datetime="{{ experience.ended_at|date:'c' }}">
                                {{ experience.ended_at|date:"F Y" }}
                            </time>
                        {% else %}
                            <span> - Sekarang</span>
                        {% endif %}

                        <p>{{ experience.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Belum ada pengalaman yang ditambahkan.</p>
        {% endif %}
    </section>
{% endblock content %}
