{% extends "base.html" %}

{% block meta %}
    <title>{{ name }} - Add Education</title>
{% endblock meta %}

{% block content %}
    <section>
        <h2>Add New Education</h2>

        <form method="post" action="{% url 'main:create_education' %}">
            {% csrf_token %}

            {% for field in form %}
                <p>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {{ field }}

                    {% for error in field.errors %}
                        <br>
                        <strong>{{ error }}</strong>
                    {% endfor %}
                </p>
            {% endfor %}

            <button type="submit">Add Education</button>
            <a href="{% url 'main:show_education' %}">Nevermind</a>
        </form>
    </section>
{% endblock content %}
