{% extends 'base.html' %}

{% block meta %}
     <title>{{ name }} - Projects</title>
{% endblock meta %}

{% block content %}
    <section aria-labelledby="projects">
        <h2 id="projects">Projects</h2>

        {% if project_list %}
            <ul>
                {% for project in project_list %}
                    <li>
                        <h3>
                            {{ project.title }},
                        
                            {% if project.created_at %}
                                <time datetime="{{ project.created_at|date:'c' }}">
                                    {{ project.created_at|date:"F Y" }}
                                </time>
                            {% endif %}
                        
                        </h3>
                        
                        <span>{{ project.description }}</span>

                        <br>

                        {% if project.link %}
                            <a href="{{ project.link }}">{{ project.link }}</a>
                        {% endif %}

                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Belum ada proyek yang ditambahkan.</p>
        {% endif %}
    </section>
{% endblock content %}
